<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="true" internalLogLevel="Trace" internalLogFile="nlog/nlog-internal.log">
    <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
    <variable name="myvar" value="myvalue" />
    <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
    <targets>
        <target xsi:type="File" name="allfile" fileName="nlog/nlog-all-${shortdate}.log" layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
        <target xsi:type="File" name="ownFile-web" fileName="nlog-own-${shortdate}.log" layout="${longdate}|${logger}|${uppercase:${level}}|  ${message} ${exception}" />
        <target xsi:type="Null" name="blackhole" />
        <target name="database" xsi:type="Database" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" connectionString="server=10.211.55.7;Database=byscore_db;user id=root;password=root;SslMode=none;charset=utf8;">
            <!--10.211.55.7;Database=byscore_db;user id=root;password=root;SslMode=none;charset=utf8;-->
            <!--
            CREATE TABLE `applicationlog` (
              `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
              `application` varchar(50) DEFAULT NULL,
              `logged` datetime DEFAULT NULL,
              `level` varchar(50) DEFAULT NULL,
              `message` varchar(512) DEFAULT NULL,
              `logger` varchar(250) DEFAULT NULL,
              `callsite` varchar(512) DEFAULT NULL,
              `exception` varchar(512) DEFAULT NULL,
              PRIMARY KEY (`id`)
            ) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
            -->
            <commandText>
                insert into applicationlog (
                `application`, `logged`, `level`, `message`,
                `logger`, `callsite`, `exception`
                ) values (
                @Application, @Logged, @Level, @Message,
                @Logger, @Callsite, @Exception
                );
            </commandText>
            <parameter name="@application" layout="BYSCORE.API" />
            <parameter name="@logged" layout="${date}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@logger" layout="${logger}" />
            <parameter name="@callSite" layout="${callsite:filename=true}" />
            <parameter name="@exception" layout="${exception:tostring}" />
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="allfile" />
        <!--Skip Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
        <!--        <logger name="BYSCORE.API.*" minlevel="Trace" writeTo="database" final="true" />-->
        <logger name="*" minlevel="Trace" writeTo="database" />
    </rules>
</nlog>