@{
    Layout = "_Layout1";
    ViewData["Title"] = "添加用户";
}

<link rel="stylesheet" href="~/lib/treeview/css/bootstrap-treeview.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap-fileinput/css/bootstrap-fileinput.css" />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            添加用户
        </h1>
        <ol class="breadcrumb">
            <li><a href="/home/index"><i class="fa fa-home"></i> 首页</a></li>
            <li><a href="/sys/usermanage">用户管理</a></li>
            <li class="active">添加用户</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-8">
                <!-- general form elements -->
                <div class="box box-primary">

                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" id="userAdd">
                        <input type="hidden" id="MenuIds" name="MenuIds" />
                        <div class="box-body">
                            <div class="form-group">
                                <label>用户头像</label>
                                <div class="fileinput fileinput-new" data-provides="fileinput" id="uploadImageDiv">
                                    <div class="fileinput-new thumbnail" style="width: 100px; height: 100px;">
                                        <img src="/img/touxiang.jpg" alt="" />
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                                    <div>
                                        <span class="btn btn-primary btn-file">
                                            <span class="fileinput-new">选择图片</span> <span class="fileinput-exists">更改</span>
                                            <input type="file" name="uploadImage" id="uploadImage" />
                                        </span>
                                        <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput">移除</a>
                                        <span>请选择1M以内图片</span>
                                        <input type="hidden" value="/img/touxiang.jpg" name="HeadImg" id="HeadImg" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">角色</label>
                                <RoleSelect class="form-control" id="RoleId" name="RoleId" onchange="GetRoleMenus()" default-value=0></RoleSelect>
                            </div>
                            <div class="form-group">
                                <label for="Name">员工姓名</label>
                                <input type="text" class="form-control" name="Name" id="Name" placeholder="员工姓名">
                            </div>
                            <div class="form-group">
                                <label for="UserNumber">员工编号</label>
                                <input type="text" class="form-control" name="UserNumber" id="UserNumber" placeholder="员工编号">
                            </div>
                            <div class="form-group">
                                <label for="UserName">用户名</label>
                                <input type="text" class="form-control" name="UserName" id="UserName" placeholder="用户名">
                            </div>
                            <div class="form-group">
                                <label for="">手机号</label>
                                <input type="text" class="form-control" name="Phone" id="Phone" placeholder="手机号">
                            </div>
                            <div class="form-group">
                                <label for="">邮箱</label>
                                <input type="text" class="form-control" name="Email" id="Email" placeholder="邮箱">
                            </div>
                            <div class="form-group">
                                <label for="">密码</label>
                                <input type="text" class="form-control" name="PassWord" id="PassWord" placeholder="密码">
                            </div>
                            <div class="form-group">
                                <label for="">部门</label>
                                <DepartmentSelect class="form-control" id="DepartmentId" name="DepartmentId" default-value=0></DepartmentSelect>
                            </div>
                            <div class="form-group">
                                <label for="">区域</label>
                                <AreasSelect class="form-control" id="AreaId" name="AreaId" default-value=0></AreasSelect>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary" id="AddUser">保存</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="/sys/usermanage" class="btn btn-default">取消</a>
                        </div>
                    </form>
                </div>
                <!-- /.box -->

            </div>
            <div class="col-xs-4">
                <div class="box box-primary">
                    <div id="tree"></div>
                </div>
            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts{
    <script src="~/lib/treeview/js/bootstrap-treeview.min.js"></script>
    <script src="~/lib/bootstrap-validator/dist/js/bootstrapValidator.min.js"></script>
    <script src="~/lib/bootstrap-validator/dist/js/language/zh_CN.js"></script>
    <link href="~/lib/bootstrap-validator/dist/css/bootstrapValidator.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.form.js"></script>
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/toastrconfig.js"></script>
    <script src="~/lib/bootstrap-fileinput/js/bootstrap-fileinput.js"></script>
    <script>
$(function () {
            $('form').bootstrapValidator({
            message: 'This value is not valid',
                 feedbackIcons: {
                            valid: 'glyphicon glyphicon-ok',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh'
                           },
                fields: {
                    UserNumber: {
                        message: '员工编号验证失败！',
                        validators: {
                            notEmpty: {
                                message: '员工编号不能为空！'
                            }
                        }
                    },
                    UserName: {
                        validators: {
                            notEmpty: {
                                message: '用户名不能为空！'
                            }
                        }
                    },
                    Phone: {
                        validators: {
                            notEmpty: {
                                message: '手机号不能为空！'
                            }
                        }
                    },
                    Email: {
                        validators: {
                            notEmpty: {
                                message: '邮箱不能为空！'
                            }
                        }
                    },
                    PassWord: {
                        validators: {
                            notEmpty: {
                                message: '密码不能为空！'
                            }
                        }
                    },
                    DepartmentId: {
                        validators: {
                            notEmpty: {
                                message: '部门不能为空！'
                            }
                        }
                    },
                    City: {
                        validators: {
                            notEmpty: {
                                message: '区域不能为空！'
                            }
                        }
                    }
                }
            });
            $("#AddUser").on("click", function(){
            var treecheck = $('#tree').treeview('getChecked');
            var ids = "";
            for(var i=0;i<treecheck.length;i++){
                ids += treecheck[i].id +",";
            }
            $("#MenuIds").val(ids);
            var opt = {
                    type: "POST",
                    dataType: "json",
                    url: "/sys/UserAdd",
                    success: function (data) {
                        if (data.isadd == true) {
                            toastr.success("保存成功！");
                            setTimeout(function(){ window.location.reload(); }, 3000);
                        }
                        else
                        {
                            toastr.error("保存失败！");
                            $("#AddUser").removeAttr("disabled");
                        }
                    },
                    error: function (e) {
                            alert(e.responseText);
                            $("#AddUser").removeAttr("disabled");
                            },

                    };
                 $("#userAdd").ajaxForm(opt);
            })
        // 获取角色对应的菜单

        GetRoleMenus();
        });



function GetRoleMenus(){
        var roleId = $("#RoleId").val();
      $.ajax({
            type: "Post",
            url: "/sys/GetMenuList",
            data:{roleId:roleId},
            dataType: "json",
            success: function (result) {
                if(result.isGet == false){
                    alert(result.msg);
                    return;
                }
                $('#tree').treeview({
                    data: result.data,         // 数据源
                    levels: 2,
                    showCheckbox: true,   //是否显示复选框
                    highlightSelected: true,    //是否高亮选中
                    //nodeIcon: 'glyphicon glyphicon-user',    //节点上的图标
                    //nodeIcon: 'glyphicon glyphicon-globe',
                    emptyIcon: '',    //没有子节点的节点图标
                    multiSelect: false,    //多选
                    showTags: true,
                    onNodeChecked: function (event,data) {
                        //alert(data);
                    },
                    onNodeSelected: function (event, data) {

                    }
                });
            },
        error: function (e) {
                            alert(e.responseText);

                            },
        });
}

         function fileLoad(ele){
                  //创建一个formData对象
                var formData = new FormData();
                  //获取files
                var files = $(ele)[0].files[0];
                formData.append("file", files);
                $.ajax({
                    url: "/sys/Upload",
                    type: 'POST',
                    data: formData,
                    processData: false,// 告诉jQuery不要去处理发送的数据
                    contentType: false, // 告诉jQuery不要去设置Content-Type请求头
                    @*beforeSend: function () {
                       //发送之前的动作
                        alert("我还没开始发送呢");
                    },*@
                    success: function (data) {
                       //成功后的动作
                       if(data.isUp){
                            $("#HeadImg").val(data.path);
                            toastr.success("上传成功！");
                       }else{
                            toastr.error(data.msg);
                       }
                    }
                    ,
        error: function (e) {
                            alert(e.responseText);
                            },
                });
            }
            $(function () {
                var $input =  $("#uploadImage");
                // 为input设定change事件
                $input.change(function () {
                //    如果value不为空，调用文件加载方法
                    if($(this).val() != ""){
                        fileLoad(this);
                    }
                })
            })
    </script>
}